<?xml version="1.0"?>

<!--
    Copyright (c) 2019 Andrey Stepanov (standmit)

    Permission is hereby granted, free of charge, to any person obtaining a copy
    of this software and associated documentation files (the "Software"), to deal
    in the Software without restriction, including without limitation the rights
    to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
    copies of the Software, and to permit persons to whom the Software is
    furnished to do so, subject to the following conditions:

    The above copyright notice and this permission notice shall be included in all
    copies or substantial portions of the Software.

    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
    AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
    OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
    SOFTWARE.
-->

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:include filename="$(find urdf_juggle)/colored_link.urdf.xacro" />
    <xacro:include filename="$(find urdf_juggle)/inertials.urdf.xacro" />
    
    <xacro:macro name="simple_link" params="name color transparency:=0 *geometry *origin set_collision:=True **inertial **other">
        <xacro:colored_link name="${name}" color="${color}" transparency="${transparency}">
            <visual>
                <xacro:insert_block name="geometry" />
                <xacro:insert_block name="origin" />
            </visual>
            <other>
                <xacro:if value="${set_collision}">
                    <collision>
                        <xacro:insert_block name="geometry" />
                        <xacro:insert_block name="origin" />
                    </collision>
                </xacro:if>
                <inertial>
                    <xacro:insert_block name="origin" />
                    <xacro:insert_block name="inertial" />
                </inertial>
                <xacro:insert_block name="other" />
            </other>
        </xacro:colored_link>
    </xacro:macro>
    
    <xacro:macro name="simple_box" params="name color transparency:=0 size mass *origin set_collision:=True *other">
        <xacro:simple_link name="${name}" color="${color}" transparency="${transparency}" set_collision="${set_collision}">
            <geometry>
                <box size="${size}" />
            </geometry>
            <xacro:insert_block name="origin" />
            <inertial>
                <xacro:box_inertia mass="${mass}" size="${size}" />
            </inertial>
            <xacro:insert_block name="other" />
        </xacro:simple_link>
    </xacro:macro>
    
    <xacro:macro name="simple_cylinder" params="name color transparency:=0 radius length mass *origin set_collision:=True *other">
        <xacro:simple_link name="${name}" color="${color}" transparency="${transparency}" set_collision="${set_collision}">
            <geometry>
                <cylinder radius="${radius}" length="${length}" />
            </geometry>
            <xacro:insert_block name="origin" />
            <inertial>
                <xacro:cylinder_inertia mass="${mass}" radius="${radius}" length="${length}" />
            </inertial>
            <xacro:insert_block name="other" />
        </xacro:simple_link>
    </xacro:macro>
    
    <xacro:macro name="simple_sphere" params="name color transparency:=0 radius mass *origin set_collision:=True *other">
        <xacro:simple_link name="${name}" color="${color}" transparency="${transparency}" set_collision="${set_collision}">
            <geometry>
                <sphere radius="${radius}" />
            </geometry>
            <xacro:insert_block name="origin" />
            <inertial>
                <xacro:sphere_inertia mass="${mass}" radius="${radius}" />
            </inertial>
            <xacro:insert_block name="other" />
        </xacro:simple_link>
    </xacro:macro>
</robot>